In [1]:
import pandas as pd
!ls

content_links.csv	       notebook_logs.log	       temp.md
extract_using_wikipedia.ipynb  odia_wiki.csv		       wiki_txt
get_all_odia_web_pages.ipynb   output.csv		       wiki_txt.txt
make_txt_from_csv.ipynb        process_wikipedia_web2md.ipynb

In [40]:
df = pd.read_csv('odia_wiki.csv')
print(df.shape)
df.head()

(38111, 2)

,link,text
0,https://or.wikipedia.org/wiki/0_(number),୦ (ସଂଖ୍ୟା)\nବାସ୍ତବ ସଂଖ୍ୟା ସମୂହରେ ଶୁନ୍ୟ (୦) ହେଉ...
1,https://or.wikipedia.org/wiki/100,୧୦୦\n_\nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...
2,https://or.wikipedia.org/wiki/1000,NaN
3,https://or.wikipedia.org/wiki/1001,NaN
4,https://or.wikipedia.org/wiki/1002,NaN

**Remove `text`** field which is empty or NaN

In [41]:
df = df[df['text'].notna()]
print(df.shape)
df.head()

(35263, 2)

,link,text
0,https://or.wikipedia.org/wiki/0_(number),୦ (ସଂଖ୍ୟା)\nବାସ୍ତବ ସଂଖ୍ୟା ସମୂହରେ ଶୁନ୍ୟ (୦) ହେଉ...
1,https://or.wikipedia.org/wiki/100,୧୦୦\n_\nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...
12,https://or.wikipedia.org/wiki/101,୧୦୧\n_\nଏହି ଲେଖାଟି ୧୦୧ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...
23,https://or.wikipedia.org/wiki/102,୧୦୨\n_\nଏହି ଲେଖାଟି ୧୦୨ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...
34,https://or.wikipedia.org/wiki/103,୧୦୩\n_\nଏହି ଲେଖାଟି ୧୦୩ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...

**Extract `text`** field which which contains valid stmts i.e ending with [।॥?!]

In [42]:
pattr = r"\n.+[।॥?!]\n?"

# Extract lines matching the pattern from the 'text' column
df['ext_lines'] = df['text'].str.findall(pattr)

# Join the extracted lines into a single string for each row
df['ext_lines'] = df['ext_lines'].apply(lambda lines: ''.join(lines) if isinstance(lines, list) else '')

In [43]:
df['ext_lines']

0        \nବାସ୍ତବ ସଂଖ୍ୟା ସମୂହରେ ଶୁନ୍ୟ (୦) ହେଉଛି ଏକ ଯୁଗ୍...
1        \nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
12       \nଏହି ଲେଖାଟି ୧୦୧ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
23       \nଏହି ଲେଖାଟି ୧୦୨ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
34       \nଏହି ଲେଖାଟି ୧୦୩ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
                               ...
38106    \nଏହି ଲେଖାଟି 'କେନ୍ଦ୍ରାପଡ଼ା ଜିଲ୍ଲା' ବାବଦରେ । 'କ...
38107    \n‌‌ନଗର, ରାଜସ୍ଥାନ ଏକ ଭାରତୀୟ ପୌର ବୋର୍ଡ଼ (Munici...
38108    \n‌‌ନଗରକୁର୍ନୁଲ୍ ଏକ ଭାରତୀୟ ଜନଗଣନା ସହର (Census t...
38109    \n‌‌ନାଗରୀ, ଆନ୍ଧ୍ରପ୍ରଦେଶ ଏକ ଭାରତୀୟ ଜନଗଣନା ସହର (...
38110    \nଆବେଲିସରସ (English: Abelisaurus;/əˌbɛl[invali...
Name: ext_lines, Length: 35263, dtype: object

**Remove `ext_lines`** field which is string with len of 0

In [45]:
df = df[df['ext_lines'] != '']
print(df.shape)
df.head()

(34230, 3)

,link,text,ext_lines
0,https://or.wikipedia.org/wiki/0_(number),୦ (ସଂଖ୍ୟା)\nବାସ୍ତବ ସଂଖ୍ୟା ସମୂହରେ ଶୁନ୍ୟ (୦) ହେଉ...,\nବାସ୍ତବ ସଂଖ୍ୟା ସମୂହରେ ଶୁନ୍ୟ (୦) ହେଉଛି ଏକ ଯୁଗ୍...
1,https://or.wikipedia.org/wiki/100,୧୦୦\n_\nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...,\nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
12,https://or.wikipedia.org/wiki/101,୧୦୧\n_\nଏହି ଲେଖାଟି ୧୦୧ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...,\nଏହି ଲେଖାଟି ୧୦୧ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
23,https://or.wikipedia.org/wiki/102,୧୦୨\n_\nଏହି ଲେଖାଟି ୧୦୨ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...,\nଏହି ଲେଖାଟି ୧୦୨ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...
34,https://or.wikipedia.org/wiki/103,୧୦୩\n_\nଏହି ଲେଖାଟି ୧୦୩ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍...,\nଏହି ଲେଖାଟି ୧୦୩ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇ...

In [65]:
df.iloc[1]['ext_lines']

'\nଏହି ଲେଖାଟି ୧୦୦ ମସିହା ବାବଦରେ ଅଟେ । ସଂଖ୍ୟା ପାଇଁ,୧୦୦ (ସଂଖ୍ୟା) ଦେଖନ୍ତୁ ।\n'

In [27]:
df.iloc[2]

link         https://or.wikipedia.org/wiki/1000
text                                        NaN
ext_lines
Name: 2, dtype: object

extracting  ext_lines from df and add `<|endoftext|>` @ the end of the text.

In [55]:
import os

def ext_data(df, train_sz, valid_sz):
    train_df = df.sample(n=train_sz, random_state=42)

    remaining_df = df.drop(train_df.index)

    valid_df = remaining_df.sample(n=valid_sz, random_state=42)

    return train_df, valid_df

def extract_df_txt(df, dir, fn):
    os.makedirs(dir, exist_ok=True)

    lis = df['ext_lines'].to_list()
    st = ' <|endoftext|> '.join(lis)
    with open(f'{dir}/{fn}.txt', 'w') as file:
        file.write(st)

### tinny dataset with 1000:100 = train:valid

In [56]:
train_df, valid_df = ext_data(df, 1000, 100)
train_df.shape, valid_df.shape

((1000, 3), (100, 3))

In [59]:
extract_df_txt(train_df, 'odia_wiki_tinny', 'train')
extract_df_txt(valid_df, 'odia_wiki_tinny', 'valid')
!ls odia_wiki_tinny

train.txt  valid.txt

In [62]:
round(df.shape[0] * 0.9) , df.shape[0] - round(df.shape[0] * 0.9)

(30807, 3423)

### full dataset with 30807:3423 = train:valid

In [63]:
train_df, valid_df = ext_data(df,30807, 3423)
train_df.shape, valid_df.shape

((30807, 3), (3423, 3))

In [64]:
extract_df_txt(train_df, 'odia_wiki_full', 'train')
extract_df_txt(valid_df, 'odia_wiki_full', 'valid')
!ls odia_wiki_tinny

train.txt  valid.txt